# Docker Image
IMG_REPO_STAGING=841162676072.dkr.ecr.us-east-1.amazonaws.com/trino-doc-worker-staging
IMG_VERSION_STAGING=1.0.0

IMG_REPO_PROD=841162676072.dkr.ecr.us-east-1.amazonaws.com/trino-doc-worker
IMG_VERSION_PROD=1.0.0

# Redis (BullMQ)
# Standalone: redis://localhost:6379
# Cluster com TLS (ElastiCache): rediss://host:6379
REDIS_URL=redis://localhost:6379

# BullMQ Queue
GENERATOR_QUEUE=generator
