# pkgs
node_modules

# coverage
coverage
coverage_data

# sst
.sst
sst-env.d.ts

# IA
.claude

# envs
.env*
!.env.example

# bin
bin

# build
dist
vendor

# docker
.dockerignore

# localstuff
.localstuff

# debug -> output de HTML
debug
