name: Deno

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    name: Lint, Typecheck & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: lts
          cache: true

      - name: Install
        run: deno install

      - name: Format
        run: deno task biome:chk

      - name: Lint
        run: deno task lint

      - name: Typecheck
        run: deno task typecheck

      - name: Test
        run: deno task test
