name: Deno

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    name: Lint, Typecheck & Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        deno-version: [v2.6.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ matrix.deno-version }}

      - name: Format
        run: deno task biome:chk

      - name: Lint
        run: deno task lint

      - name: Typecheck
        run: deno task typecheck

      - name: Test
        run: deno task test
